#root-right {
	/*border: 1px coral solid;*/
	float: right;
	padding-top: 0px;
	margin-right: 20%;
	margin-top: -60px;
}

.filter-title {
	color: #2C3E50;
	padding-top: 10px;
	font-size: 18px;
}

.btn-cancel {
	background-color: white; 
    color: #22313F; 
    border: 1px solid #546E7A;
    padding: 3px 20px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    outline:none;
}


.material-select {
  margin-left: -22px;
}